[submodule "modules/trex"]
	path = modules/trex
	url = https://github.com/torstenvl/trex
[submodule "modules/cpgtou"]
	path = modules/cpgtou
	url = https://github.com/torstenvl/cpgtou
[submodule "modules/utillib"]
	path = modules/utillib
	url = https://github.com/torstenvl/utillib
