[submodule "STATIC/cpgtou"]
	path = STATIC/cpgtou
	url = https://github.com/torstenvl/cpgtou
[submodule "STATIC/utillib"]
	path = STATIC/utillib
	url = https://github.com/torstenvl/utillib
[submodule "STATIC/trex"]
	path = STATIC/trex
	url = https://github.com/torstenvl/trex
