[submodule "STATIC/cpgtou"]
	path = STATIC/cpgtou
	url = https://github.com/torstenvl/cpgtou
[submodule "STATIC/utillib"]
	path = STATIC/utillib
	url = https://github.com/torstenvl/utillib
[submodule "crex"]
	path = crex
	url = https://github.com/torstenvl/crex
[submodule "STATIC/crex"]
	path = STATIC/crex
	url = https://github.com/torstenvl/crex
